@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #f3eef8;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.content-1, .content-2 {
    background: #d9bbf8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px #555555;
    flex: 1;
    margin: 10px;
}

.content-1 {
    max-width: 600px;
}

.content-2 {
    max-width: 400px;
}

header, h3 {
    font-size: 1.7rem;
    color: #1e1e1e;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}

.form {
    margin-top: 20px;
}

.input-box {
    width: 100%;
    margin-top: 30px;
    color: #1e1e1e;
}

.form .input-box input {
    height: 40px;
    width: 100%;
    font-size: 0.8rem;
    color: #505050;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 0 15px;
}

.input-box input:focus {
    border: 1px solid #151515;
}

.input-box.success input {
    border-color: #10fd68;
}

.input-box.error input {
    border-color: #ff0000;
}

.input-box .error {
    color: #ff0000;
    font-size: 0.75rem;
    margin-top: 5px;
}

.btn {
    margin-top: 20px;
    height: 45px;
    width: 100%;
    background-color: #f3eef8;
    border: 1px solid #857e81;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FCDF78;
}

#colorPicker {
    width: 100%;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
}
