
.Task-1 {
    margin: 2.5vh 0 0 1vw;
}

.Set-table{
    border-collapse: collapse;
    font-size: 1rem;
    width: 32vw;
    margin-top: 2vh;
    min-height: 12vh;
}

.Set-table td {
    border: 0.1em solid black;
    text-align: center;
    padding: 1.5vh 1.5vw;
}

.BgColor-1{
    background-color: bisque;
}
.BgColor-2{
    background-color: #fdd197;
}

.Task-2 {
    margin: 2.5vh 0 0 1vw;
}

.gears-container {
    display: flex;
    gap: 3vw;
    justify-content: flex-start;
    margin-top: 2vh;
}

.gear, .gear-2 {
    position: relative;
    height: 200px;
    width:  200px;
    background-color: #ffc220;
    border-radius: 50%;
}

.gear::before, .gear-2::before{
    content: "";
    position: absolute;
    top: 60px;
    left: 60px;
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
}

.dent{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

.dent:nth-child(1) {
    top: -20px;
    left: 75px;
}

.dent:nth-child(2) {
    top: 5px;
    right: 0;
}

.dent:nth-child(3) {
    top: 75px;
    right: -25px;
}

.dent:nth-child(4) {
    bottom: 5px;
    right: 0;
}

.dent:nth-child(5) {
    bottom: -25px;
    left: 75px;
}

.dent:nth-child(6) {
    bottom: 5px;
    left: 0;
}

.dent:nth-child(7) {
    top: 75px;
    left: -25px;
}

.dent:nth-child(8) {
    top: 5px;
    left: 0;
}

.dent-2 {
    position: absolute;
    top: -25px;
    left: 75px;
    transform-origin: 25px 125px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

.dent:nth-child(1) {
    transform: rotate(0deg);
}

.dent-2:nth-child(2) {
    transform: rotate(45deg);
}

.dent-2:nth-child(3) {
    transform: rotate(90deg);
}

.dent-2:nth-child(4) {
    transform: rotate(135deg);
}

.dent-2:nth-child(5) {
    transform: rotate(180deg);
}

.dent-2:nth-child(6) {
    transform: rotate(225deg);
}

.dent-2:nth-child(7) {
    transform: rotate(270deg);
}

.dent-2:nth-child(8) {
    transform: rotate(315deg);
}